body{
    max-width: 1200px;
    margin:0 auto;
    padding:20px;
}
.card-section{
    text-align: center;
}
.card-container{
    display:flex;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}
.card{
    width: 200px;
    border: 2px solid saddlebrown;
    border-radius: 10px;
    padding:10px;
    box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.801);
    text-align: left;
}
.card:hover{
    background-color: rgba(210, 105, 30, 0.5);
}
.card button{
    background-color:chocolate;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    color:antiquewhite;
    font-weight: bold;
}
.card h3{
    font-size: 1.5em;
    font-weight: bold;
}
.card img{
    width: 100%;
    border-radius: 10px;
}